apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts/
      chart: prometheus
      targetRevision: "26.0.1"
      helm:
        values: |
          prometheus-pushgateway:
            enabled: false
          prometheus-node-exporter:
            enabled: false
          kube-state-metrics:
            enabled: false
          alertmanager:
            enabled: false
          extraScrapeConfigs: |
            - honor_labels: true
              job_name: kubernetes-pods-5s
              kubernetes_sd_configs:
                - role: pod
              relabel_configs:
                - action: keep
                  regex: true
                  source_labels:
                    - __meta_kubernetes_pod_annotation_prometheus_io_scrape5
                - action: replace
                  regex: (https?)
                  source_labels:
                    - __meta_kubernetes_pod_annotation_prometheus_io_scheme
                  target_label: __scheme__
                - action: replace
                  regex: (.+)
                  source_labels:
                    - __meta_kubernetes_pod_annotation_prometheus_io_path
                  target_label: __metrics_path__
                - action: replace
                  regex: (\d+);(([A-Fa-f0-9]{1,4}::?){1,7}[A-Fa-f0-9]{1,4})
                  replacement: '[$2]:$1'
                  source_labels:
                    - __meta_kubernetes_pod_annotation_prometheus_io_port
                    - __meta_kubernetes_pod_ip
                  target_label: __address__
                - action: replace
                  regex: (\d+);((([0-9]+?)(\.|$)){4})
                  replacement: $2:$1
                  source_labels:
                    - __meta_kubernetes_pod_annotation_prometheus_io_port
                    - __meta_kubernetes_pod_ip
                  target_label: __address__
                - action: labelmap
                  regex: __meta_kubernetes_pod_annotation_prometheus_io_param_(.+)
                  replacement: __param_$1
                - action: labelmap
                  regex: __meta_kubernetes_pod_label_(.+)
                - action: replace
                  source_labels:
                    - __meta_kubernetes_namespace
                  target_label: namespace
                - action: replace
                  source_labels:
                    - __meta_kubernetes_pod_name
                  target_label: pod
                - action: drop
                  regex: Pending|Succeeded|Failed|Completed
                  source_labels:
                    - __meta_kubernetes_pod_phase
                - action: replace
                  source_labels:
                    - __meta_kubernetes_pod_node_name
                  target_label: node
              scrape_interval: 5s
              scrape_timeout: 4s
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
